<h1>Learn lambda calculus</h1>
<img src="http://latex.codecogs.com/gif.latex?%28%5Clambda%20x.yx%29">
<img src="http://latex.codecogs.com/gif.latex?%5Clambda%20a.bb">
<%= form_tag("/images", :remote => true) do %>
  <%= label_tag(:user_string, 'Enter a lambda expression. Use \ instead of a lambda.') %>  # &lambda; &#955; &#x3BB;
  <%= text_field_tag(:user_string) %>
  <%= submit_tag("Evaluate", :class => "evaluate") %>
<% end %>