<p>Enter a lambda expression. Use \ instead of a &lambda;.</p>

<%= form_tag("/expressions", :class => "beta_reduce") do %>
  <%= text_field_tag(:user_string, "(\\x.xy)a") %><br>
  <%= submit_tag("Evaluate", :class => "btn btn-inverse") %>
<% end %>